<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Tokens Pls</title>
    <link rel="stylesheet" href="https://classless.de/classless.css">
  </head>
  <body>
    <h1>Tokens Pls</h1>

    <p>Tokens Pls is a hosted alternative to <a class="h-card u-url" href="https://seblog.nl/">Sebastiaan Andeweg</a>'s <a href="http://gimme-a-token.5eb.nl/">gimme-a-token.5eb.nl</a>, with the aim to reduce any manual interactions.</p>

    <h5>By Profile URL</h5>

    <p>You can start the flow by using your profile URL, at which point your <code>authorization_endpoint</code> and <code>token_endpoint</code> will be discovered:</p>

    <form action="/profile" method="get">
      <input type="text" name="profile_url" id="profile_url" placeholder="https://www.jvt.me/" />
      <input type="submit" />
    </form>

    <a href="/profile?profile_url=https://www.jvt.me/">Prod</a>
    <a href="/profile?profile_url=https://www.staging.jvt.me/">Staging</a>

    <h5>By Endpoints</h5>

    <p>You can start the flow by providing your <code>authorization_endpoint</code> and <code>token_endpoint</code> manually:</p>

    <form action="/endpoints" method="get">
      <input type="text" name="authorization_endpoint" id="authorization_endpoint" placeholder="https://indieauth.jvt.me/authorize" />
      <input type="text" name="token_endpoint" id="token_endpoint" placeholder="https://indieauth.jvt.me/token" />
      <input type="submit" />
    </form>

    <a href="/endpoints?authorization_endpoint=http://localhost:8080/authorize&token_endpoint=http://localhost:8080/token">Local</a>

    <footer>
      This code is <a href="https://gitlab.com/jamietanna/tokens-pls/">Open Source</a>.
    </footer>
  </body>
</html>
